

.btn-group-vertical{
    width:80%;

}

.allServices{
    max-height: 250px;
    overflow-y: scroll;
}

.allOptionalProducts{
    max-height: 250px;
    overflow-y: scroll;
}



.navbar{
    margin-bottom: 40px;
}


.selectDiv{
    display:none;
}

.row-cols-4 {
    padding: 2%;
    max-height: 350px;
}
.service-inputs {
    padding: 20px;
}
